@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <a href="@Url.Action("Index", "Recipe")">Wyszukaj przepisy po nazwie</a>
    </p>
    <p>
        <a href="@Url.Action("ViewByCategory", "Recipe")">Wyszukaj przepisy po kategorii</a>
    </p>
    <p>
        <a href="@Url.Action("ViewByDifficulty", "Recipe")">Wyszukaj przepisy po trudności</a>
    </p>
    <p>
        <a href="@Url.Action("AddRecipe", "Recipe")">Dodaj przepis</a>
    </p>
    @if(User.IsInRole("Admin"))
    {
    <p>
        <a href="@Url.Action("ManageUsers","Home")">Zarządzaj użytkownikami</a>
    </p>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <p>Witaj, @User.Identity.Name</p>
    }
    else
    {
        <p>Niezalogowany użytkownik</p>
    }

    <p>Tu będą dalsze opcje(funkcjonalności) .....</p>
    <p>
        Wróć
    </p>
</div>
