@model CopyRecipeBookMVC.Application.ViewModels.Recipe.ListRecipeForListVm

@{
	ViewData["Title"] = "Index";
}

<h1>Spis przepisów</h1>

<p>
	<a asp-action="AddRecipe">Stwórz nowy przepis</a>
</p>

<form asp-action="Index" asp-controller="Recipe" method="post">
	<div class="row-md4">
		<input type="text" asp-for="SearchString" name="searchString" id="searchString" />
		<input type="submit" value="Wyszukaj" />
	</div>

	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Recipes[0].Id)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Recipes.First().Name)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Recipes.First().Category)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Recipes.First().Difficulty)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Recipes.First().Time)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Recipes)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Id)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Category)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Difficulty)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Time)
						</td>
						<td>
							@Html.ActionLink("Edytuj przepis", "EditRecipe", new {  id=item.Id  }) |
							@Html.ActionLink("Szczegóły przepisu", "ViewDetails", new { id=item.Id }) |
							@Html.ActionLink("Usuń przepis", "DeleteRecipe", new {id=item.Id})
							@*<form asp-action="DeleteRecipe" method="post" onsubmit="return confirm('Czy na pewno chcesz usunąć ten przepis?');">
								<input type="hidden" name="id" value="@item.Id" />
								<button type="submit" class="btn btn-danger">Usuń przepis</button>
								trzeba przerobić na POST 
						</form>*@

							
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="row-md4">
		<table>
			<tr>
				@for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
				{
					<td>
						@if (i != Model.CurrentPage)
						{
							<a href="javascript:PagerClick(@i)">@i</a>
						}
						else
						{
							<span>@i</span>
						}
					</td>
				}
			</tr>
		</table>
		<input type="hidden" name="pageNumber" id="pageNumber" />
		<input type="hidden" name="pageSize" id="pageSize" value="12" />
	</div>
</form>

@section Scripts
{
	<script type="text/javascript">
		function PagerClick(index) {
			document.getElementById("pageNumber").value = index;
			document.forms[0].submit();
		}
	</script>
}