@model CopyRecipeBookMVC.Application.ViewModels.Recipe.ListRecipesByCategoryVm

@{
	ViewData["Title"] = "ViewByCategory";
}

<h1>Wybór przepisu po kategorii</h1>

<p>
	<a asp-action="AddRecipe">Stwórz nowy przepis</a>
</p>

<form asp-action="ViewByCategory" asp-controller="Recipe" method="post" id="categoryrecipes">
	<div class="row-md6">
		<label for="categoryId">Wybierz kategorię:</label>
		<select asp-for="CategoryId" asp-items="ViewBag.Categories">
			<option value="Wybierz kategorię"></option>
		</select>
		<input type="submit" value=" Wyszukaj " />
	</div>

	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.RecipesByCategory[0].Id)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.RecipesByCategory.First().Name)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.RecipesByCategory.First().Category)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.RecipesByCategory.First().Difficulty)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.RecipesByCategory.First().Time)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.RecipesByCategory)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Id)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Category)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Difficulty)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Time)
						</td>
						<td>
							@if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
							{
								@Html.ActionLink("Edytuj przepis", "EditRecipe", new { id = item.Id })
							}|
							@Html.ActionLink("Szczegóły przepisu", "ViewDetails", new { id = item.Id }) |
							@if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
							{
								@Html.ActionLink("Usuń przepis", "DeleteRecipe", new { id = item.Id })
							}
						</td>
					</tr>
				}
				<input type="hidden" name="pageSize" value="12" />
			</tbody>
		</table>
	</div>
	<div class="row-md4">
		<table>
			<tr>
				@for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
				{
					<td>
						@if (i != Model.CurrentPage)
						{
							<a href="javascript:PagerClick(@i)">@i</a>
						}
						else
						{
							<span>@i</span>
						}
					</td>
				}
			</tr>
		</table>	
		<input type="hidden" name="pageNumber" id="pageNumber" />
		<input type="hidden" name="pageSize" id="pageSize" value="12" />
	</div>
</form>

@section Scripts
{
	<script type="text/javascript">
		function PagerClick(index) {
			document.getElementById("pageNumber").value = index;
			document.getElementById("categoryrecipes").submit();
		}
	</script>
}
